.app {
  padding: 50px 0;
}

.inputWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;

  .textInput {
    width: 100%;
    max-width: 400px;
    margin: 0;
  }
}

.tableWrap {
  margin-top: 50px;
}
